<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Add User</title>
  </head>
  <body>
    <article class="row row-left">
      <div class="small-12 column">
        <h1>${part.title} - Add User</h1>
      </div>
      <div class="small-12 column">
        <form action="${r.route_url('part.users.add', pid=part.id)}" class="row collapse">
          <div class="small-8 medium-9 large-10 column">
            ${h.form.tags.text_field('q', r.params['q'] if 'q' in r.params else '', None, placeholder='Search by name or e-mail address')}
          </div>
          <div class="small-4 medium-3 large-2 column">
            ${h.form.tags.submit('Search', class_='button postfix')}
          </div>
        </form>
      </div>
      <div class="small-12 column">
        <form action="${r.route_url('part.users.add', pid=part.id)}" method="post">
          <py:if test="users">
            ${h.form.tags.hidden_field('q', r.params['q'])}
            <py:if test="'start' in r.params">${h.form.tags.hidden_field('start', r.params['start'])}</py:if>
            <div class="text-right"><small>Users ${start + 1} - ${start + 20} of ${total_users}</small></div>
            <table class="small-12">
              <thead>
                <tr>
                  <th><input id="change_all" type="checkbox"/></th>
                  <th>Name</th>
                  <th>E-Mail</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="user in users">
                  <td><input id="user_id_${user.id}" name="user_id" type="checkbox" value="${user.id}"/></td>
                  <td><label for="user_id_${user.id}">${user.display_name}</label></td>
                  <td><label for="user_id_${user.id}">${user.email}</label></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <ul class="pagination">
                      <li py:for="page in pages" class="${'current' if page * 20 == start else ''}"><a href="${r.route_url('part.users.add', pid=part.id, _query=[('q', r.params['q']), ('start', page * 20)])}">${page + 1}</a></li>
                    </ul>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div class="clearfix">
              ${h.form.field('role', 'Role', h.form.tags.select, size='small-12 medium-4', e=e, value='', options=[('', '--- Select the Role ---'), ('owner', 'Owner'), ('tutor', 'Tutor'), ('student', 'Student')])}
            </div>
            <div class="text-right">
              ${h.form.tags.submit('Add', class_='button small')}
            </div>
          </py:if>
          <py:if test="not users">
            <p py:if="'q' not in r.params">Please enter a name or e-mail address in the search box above.</p>
            <p py:if="'q' in r.params">No users were found for your search term or any matching users are already registered for this module.</p>
          </py:if>
        </form>
      </div>
    </article>
    <script>
    $('#change_all').on('click', function() {
        var checked = $(this).is(':checked');
        $('input[name=user_id]').each(function() {
            $(this).prop('checked', checked);
        });
    });
    </script>
  </body>
</html>