<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Users</title>
  </head>
  <body>
    <article class="row left">
      <div class="row.left clearfix">
        <h1 class="small-12 medium-10 large-8 column">${part.title} - Users</h1>
      </div>
      <section class="small-12 medium-10 large-8 column">
        <form action="${r.route_url('part.users', pid=part.id)}" class="row collapse">
          <div class="small-12 medium-6 column">
            <div class="row collapse">
              <div class="small-9 medium-8 column">
                ${h.form.tags.text_field('q', r.params['q'] if 'q' in r.params else '', None, placeholder='Search by name or e-mail')}
              </div>
              <div class="small-3 medium-4 column">
                <input type="submit" value="Search" class="button postfix"/>
              </div>
            </div>
          </div>
          <div class="small-12 medium-5 medium-offset-1 column">
            <div class="row collapse">
              <div class="small-9 medium-8 column">
                ${h.form.tags.select('role', r.params['role'] if 'role' in r.params else 'active', [('', 'All Users'), ('active', 'Active Users'), ('owner', 'Owners'), ('tutor', 'Tutors'), ('student', 'Students'), ('block', 'Blocked Users')], None)}
              </div>
              <div class="small-3 medium-4 column">
                <input type="submit" value="Filter" class="button postfix"/>
              </div>
            </div>
          </div>
        </form>
        <form action="${r.route_url('part.users.action', pid=part.id)}" method="post">
          <div class="text-right">
            <small py:if="total_users != 0">Users ${(current_page * 30) + 1} - ${(current_page * 30) + users.count()} of ${total_users}</small>
            <small py:if="total_users == 0">No Users found</small>
          </div>
          <table class="small-12">
            <thead>
              <tr>
                <th><input id="change_all" type="checkbox"/></th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr py:if="total_users == 0">
                <td colspan="4">No users were found for the filter you selected.</td>
              </tr>
              <tr py:for="role in users">
                <td><input id="role_id_${role.id}" name="role_id" type="checkbox" value="${role.id}"/></td>
                <td><label for="role_id_${role.id}">${role.user.display_name}</label></td>
                <td><a href="mailto:${role.user.email}">${role.user.email}</a></td>
                <td>${h.text.title(role.role)}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <ul class="pagination">
                    <li py:for="page in pages" class="${page['class'] if 'class' in page and page['class'] else ''}"><a href="${page['url']}">${page['title']}</a></li>
                  </ul>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="row collapse">
            <div class="small-12 medium-3 column">
              <a href="${r.route_url('part.users.add', pid=part.id)}" class="button tiny">Add a User</a>
            </div>
            <div class="small-8 medium-6 medium-offset-1 large-4 large-offset-3 column">
              <py:if test="'q' in r.params and r.params['q']">${h.form.tags.hidden_field('q', r.params['q'])}</py:if>
              <py:if test="'role' in r.params and r.params['role']">${h.form.tags.hidden_field('role', r.params['role'])}</py:if>
              <py:if test="'start' in r.params and r.params['start']">${h.form.tags.hidden_field('start', r.params['start'])}</py:if>
              ${h.form.tags.select('action', '', [('', '--- Choose Action ---'), ('block', 'Block'), ('remove', 'Remove'), ('change_role', 'Change Role')], None)}
            </div>
            <div class="small-4 medium-2 column">
              <input type="submit" value="Apply" class="button postfix"/>
            </div>
          </div>
        </form>
      </section>
    </article>
    <script>
    $('#change_all').on('click', function() {
    	var checked = $(this).is(':checked');
    	$('input[name=role_id]').each(function() {
    		$(this).prop('checked', checked);
    	});
    });
    </script>
  </body>
</html>