<div id="flash" xmlns:py="http://genshi.edgewall.org/" class="clearfix">
  <div class="row row-left" py:for="msg in r.session.pop_flash('info')">
    <div class="small-12 column">
      <div data-alert="" class="alert-box info">${msg}<a href="#" class="close" title="Close"><span class="fi-x" aria-hidden="true"></span><span class="show-for-sr">Close</span></a></div>
    </div>
  </div>
  <div class="row row-left" py:for="msg in r.session.pop_flash('auth')">
    <div class="small-12 column">
      <div data-alert="" class="alert-box warning">${msg}<a href="#" class="close" title="Close"><span class="fi-x" aria-hidden="true"></span><span class="show-for-sr">Close</span></a></div>
    </div>
  </div>
  <div class="row row-left" py:for="msg in r.session.pop_flash('error')">
    <div class="small-12 column">
      <div data-alert="" class="alert-box alert">${msg}<a href="#" class="close" title="Close"><span class="fi-x" aria-hidden="true"></span><span class="show-for-sr">Close</span></a></div>
    </div>
  </div>
</div>
