<div id="flash" xmlns:py="http://genshi.edgewall.org/">
  <div class="row" py:for="msg in r.session.pop_flash('info')">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 column end">
      <div data-alert="" class="alert-box info">${msg}<a href="#" class="close">&times;</a></div>
    </div>
  </div>
  <div class="row" py:for="msg in r.session.pop_flash('auth')">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 column end">
      <div data-alert="" class="alert-box warning">${msg}<a href="#" class="close">&times;</a></div>
    </div>
  </div>
  <div class="row" py:for="msg in r.session.pop_flash('error')">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 column end">
      <div data-alert="" class="alert-box alert">${msg}<a href="#" class="close">&times;</a></div>
    </div>
  </div>
</div>
