<nav class="top-bar" data-topbar="" xmlns:py="http://genshi.edgewall.org/">
  <ul class="title-area">
    <li class="name"><h1><a href="${r.route_url('root')}">WTE</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li py:for="crumb in crumbs" class="${'active' if 'current' in crumb else ''}"><a href="${crumb['url']}">${crumb['title']}</a></li>
    </ul>
    <ul class="right">
      <li class="has-dropdown" py:if="r.current_user.logged_in"><a href="${r.route_url('user.view', uid=r.current_user.id)}">${r.current_user.display_name}</a>
        <ul class="dropdown">
          <li><a href="${r.route_url('user.edit', uid=r.current_user.id)}">Edit your Profile</a></li>
          <li><a href="#">Modules</a></li>
          <li class="divider"></li>
          <li><a href="${r.route_url('user.logout')}">Log out</a></li>
        </ul>
      </li>
      <li py:if="not r.current_user.logged_in"><a href="${r.route_url('user.register')}">Register</a></li>
      <li py:if="not r.current_user.logged_in"><a href="${r.route_url('user.login', _query={'return_to': r.current_route_url()})}">Log in</a></li>
    </ul>
  </section>
</nav>
