include *.txt *.ini *.cfg *.rst LICENSE
recursive-include src *.ico *.png *.css *.scss *.gif *.jpg *.pt *.txt *.js *.html *.xml *.svg *.eot *.ttf *.woff *.mako *.kajiki
recursive-include src/wte/migrations *.py
