<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${asset.filename} - Delete</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>${asset.filename} - Delete</h1>
        <form action="${r.route_url('asset.delete', pid=part.id, aid=asset.id)}" method="post">
          <p>Please confirm that you wish to delete the ${asset.type} &quot;${asset.filename}
            (${asset.mimetype})&quot;.</p>
          <div class="text-right">
            ${h.form.tags.submit('Delete', class_='button small alert')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>