<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Add ${h.text.title(r.matchdict['new_type'])}</title>
    <script>
    $(document).ready(function() {
    	if(window.FileReader) {
            var article = $('article');
            article.on('dragenter', function(ev) {
            	ev.stopPropagation();
            	ev.preventDefault();
            	article.addClass('drag-n-drop');
            });
            article.on('dragover', function(ev) {
                ev.stopPropagation();
                ev.preventDefault();
                article.addClass('drag-n-drop');
            });
            article.on('dragleave', function(ev) {
                ev.stopPropagation();
                ev.preventDefault();
                article.removeClass('drag-n-drop');
            });
            article.on('drop', function(ev) {
                ev.stopPropagation();
                ev.preventDefault();
                var dt = ev.originalEvent.dataTransfer;
                if(dt.files) {
                	if(dt.files.length != 0) {
                	    var data = new FormData();
                	    data.append('data', dt.files[0]);
                	    article.find('.progress').show();
                	    var promise = $.ajax($('form').attr('action'), {
                	    	xhr: function() {
                	    		var xhr = $.ajaxSettings.xhr();
                	    		if(xhr.upload) {
                                    xhr.upload.addEventListener('progress', function(ev) {
                                        var progress = ev.loaded || ev.position;
                                        var total = ev.total;
                                        if(total != 0) {
                                            article.find('.meter').css('width', progress / total * 100 + '%');
                                        } else {
                                            article.find('.meter').css('width', 0);
                                        }
                                    }, false);
                	    		}
                	    		return xhr;
                	    	},
                	    	type: 'POST',
                	    	contentType: false,
                	    	processData: false,
                	    	cache: false,
                	    	data: data
                	    });
                	    promise.then(function() {
                	    	window.location = '${r.route_url('part.view', pid=part.id)}';
                	    });
                    }
                }
            });
    	}
    });
    </script>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <div class="drag-n-drop-overlay"><span class="fi-upload"></span><div class="progress"><span class="meter" style="width: 0;"></span></div></div>
        <h1>${part.title} - Add ${h.text.title(r.matchdict['new_type'])}</h1>
        <form action="${r.route_url('asset.new', pid=part.id, new_type=r.matchdict['new_type'])}" method="post" enctype="multipart/form-data">
          <div class="clearfix">
            ${h.form.field('data', 'File', h.form.tags.file_input_field, size='small-12', e=e)}
          </div>
          <div class="clearfix">
            ${h.form.field('filename', 'Alternate Filename (optional)', h.form.tags.text_field, size='small-12', e=e, default=u'')}
          </div>
          <div class="text-right">
            <a href="${r.route_url('part.view', pid=part.id)}" class="button small secondary">Don't Create</a>
            ${h.form.tags.submit('Create', class_='button small')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>