<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Add ${h.text.title(r.matchdict['new_type'])}</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>${part.title} - Add ${h.text.title(r.matchdict['new_type'])}</h1>
        <form action="${r.route_url('asset.new', pid=part.id, new_type=r.matchdict['new_type'])}" method="post" enctype="multipart/form-data">
          <div class="clearfix">
            ${h.form.field('data', 'File', h.form.tags.file_input_field, size='small-12', e=e)}
          </div>
          <div class="clearfix">
            ${h.form.field('filename', 'Alternate Filename (optional)', h.form.tags.text_field, size='small-12', e=e, default=u'')}
          </div>
          <div class="text-right">
            <a href="${r.route_url('part.view', pid=part.id)}" class="button small secondary">Don't Create</a>
            ${h.form.tags.submit('Create', class_='button small')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>