<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Administration</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 column">
        <h1>Administration</h1>
        <p>The following administrative functions are available:</p>
        <ul class="no-symbol">
          <li class="panel" py:if="r.current_user.has_permission('admin.users.view')">
            <h2><a href="${r.route_url('users')}">User Administration</a></h2>
            <p>Administer the registered users, register new users, delete users.</p>
          </li>
        </ul>
      </article>
    </div>
  </body>
</html>