<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${page.title} - Edit</title>
  </head>
  <body>
    <div class="row.left clearfix">
      <h1 class="small-12 medium-6 large-6 column">${page.title} - Edit</h1>
    </div>
    <article class="small-12 medium-6 large-6 column">
      <form action="${r.route_url('page.edit', mid=module.id, tid=tutorial.id, pid=page.id)}" method="post">
        <div class="clearfix">
          ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=page.title)}
        </div>
        <div class="clearfix">
          ${h.form.field('content', 'Content', h.form.tags.textarea, size='small-12', e=e, default=page.content, id='page-content')}
        </div>
        <div class="text-right">
          ${h.form.tags.submit('Update', class_='button small')}
        </div>
      </form>
    </article>
    <aside id="textbook" class="small-12 medium-6 large-6 column">
      Loading...
    </aside>
    <script>
    var code_change_timer = undefined;
    function render_page() {
        $.ajax('${r.route_url('page.preview', mid=module.id, tid=tutorial.id, pid=page.id)}', {
            data: {'content': $('#page-content').val()},
            type: 'POST'
        }).success(function(data) {
            $('#textbook').html(data.content);
        }).always(function() {
        });
    }
    function resize_page() {
        var win_height = $(window).innerHeight();
        $('nav.top-bar, h1').each(function() {
            win_height = win_height - $(this).outerHeight(true);
        });
        $('#page-content').parent().parent().parent().siblings().each(function() {
            win_height = win_height - $(this).outerHeight(true);
        });
        $('#page-content').css('height', win_height + 'px');
        $('#textbook').css('height', ($('#page-content').parents('form').innerHeight() - 10) + 'px').css('overflow', 'auto');
    }
    $('#page-content').keyup(function() {
    	clearTimeout(code_change_timer);
    	code_change_timer = setTimeout(render_page, 1000);
    });
    render_page();
    $(document).ready(function() {
    	resize_page();
    	$(window).on('resize', resize_page);
    });
    </script>
  </body>
</html>