<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${tutorial.title} - ${page.title}</title>
  </head>
  <body>
    <article class="rows">
      <section id="textbook" class="small-12 medium-6 large-4 column">
        <h1>${page.title}</h1>
        ${Markup(page.compiled_content)}
        <div class="pagination-centered">
          <ul class="pagination">
            <li py:if="not prev_page" class="disabled">Tutorial start</li>
            <li py:if="prev_page"><a href="${r.route_url('page.view', mid=module.id, tid=tutorial.id, pid=prev_page.id)}">&laquo; Previous page</a></li>
            <li class="current"><a href="${r.current_route_url()}">Page ${page_no} of ${len(tutorial.pages)}</a></li>
            <li py:if="not next_page" class="disabled">Next page &raquo;</li>
            <li py:if="next_page"><a href="${r.route_url('page.view', mid=module.id, tid=tutorial.id, pid=next_page.id)}">Next page &raquo;</a></li>
          </ul>
        </div>
      </section>
      <section id="editor" class="small-12 medium-6 large-8">
        <section id="files">
          <dl class="tabs" data-tab="">
            <dd py:for="idx, file in enumerate(progress.files)" id="${h.frontend.html_id(file.filename)}-tab" class="${'active' if idx == 0 else ''}"><a href="#${h.frontend.html_id(file.filename)}">${file.filename} <img src="${r.static_url('wte:static/img/spinner-small.gif')}" class="hidden"/></a></dd>
          </dl>
          <form class="tabs-content">
            <div py:for="idx, file in enumerate(progress.files)" class="content ${'active' if idx == 0 else ''}" id="${h.frontend.html_id(file.filename)}">
              ${h.form.tags.textarea('', file.content, None, data_wte_mimetype=file.mimetype, data_wte_fileid=file.id)}
            </div>
          </form>
        </section>
        <section id="viewer">
          <iframe src="${r.route_url('file.view', mid=module.id, tid=tutorial.id, pid=page.id, uid=r.current_user.id, filename='index.html')}"></iframe>
        </section>
      </section>
    </article>
    <script src="${r.static_url('wte:static/js/codemirror/codemirror.js')}"></script>
    ${h.frontend.codemirror_scripts(r, ['text/html'])}
    <script>
    function resize_page() {
        var win_height = $(window).innerHeight();
        $('nav.top-bar').each(function() {
            win_height = win_height - $(this).outerHeight(true);
        });
        $('#textbook').css('height', win_height + 'px');
        $('#editor').css('height', win_height + 'px');
        $('#files').css('height', (win_height / 2) + 'px');
        $('#files .content').each(function() {
        	$(this).css('height', (win_height / 2) - $('#files .tabs').outerHeight(true) + 'px');
        });
        $('#viewer').css('height', (win_height / 2) + 'px');
    }
    function save_doc(cm, textarea) {
    	var spinner = $('#' + textarea.parent().attr('id') + '-tab img');
    	spinner.show();
    	var url = '${r.route_url('file.save', mid=module.id, tid=tutorial.id, pid=page.id, uid=r.current_user.id, fid='FID')}';
    	url = url.replace('FID', textarea.data('wte-fileid'));
    	$.ajax(url, {
    		type: 'POST',
    		data: {'content': cm.getValue()},
    		dataType: 'json'
    	}).complete(function() {
    		var iframe = $('#viewer iframe');
    		iframe.attr('src', iframe.attr('src'));
    	}).always(function() {
    		spinner.hide();
    	});
    }
    $(document).ready(function() {
        resize_page();
        $(window).on('resize', resize_page);
        $('#files .content textarea').each(function() {
        	var textarea = $(this);
        	cm = CodeMirror.fromTextArea(this, {
                mode: textarea.data('wte-mimetype')
            });
        	cm.on('change', function(cm, changes) {
        		clearTimeout(textarea.data('wte-timeout'));
        		textarea.data('wte-timeout', setTimeout(function() {save_doc(cm, textarea);}, 1000));
        	});
            textarea.data('wte-cm', cm);
        });
        $('#files .tabs').on('toggled', function (event, tab) {
        	tab.children('textarea').data('wte-cm').refresh();
        });
    });
    </script>
  </body>
</html>