<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${tutorial.title} - Add Template</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>${tutorial.title} - Add Template</h1>
        <form action="${r.route_url('template.new', mid=module.id, tid=tutorial.id)}" method="post">
          ${h.form.tags.hidden_field('content', '')}
          <div class="clearfix">
            ${h.form.field('filename', 'Filename', h.form.tags.text_field, size='small-12', e=e, default=u'')}
          </div>
          <div class="clearfix">
            ${h.form.field('mimetype', 'Type', h.form.tags.select, size='small-12', e=e, value=u'', options=[('text/html', 'HTML'), ('text/javascript', 'JavaScript'), ('text/css', 'CSS')])}
          </div>
          <div class="text-right">
            ${h.form.tags.submit('Create', class_='button small')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>