/**
 * Foundation overrides
 */
.row.left {margin: 0;}
.panel .button {margin-bottom: 0;}
table input[type=checkbox], table input[type=submit], table select {margin-bottom: 0;}
table tfoot ul.pagination {margin:0;}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label {vertical-align: top; margin-left: 1em;}
@media print {
    .top-bar {
        display: none;
    }
}

/**
 * CodeMirror overrides
 */
.codemirror-border .CodeMirror {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
.codemirror-border .CodeMirror-focused {
    border-color: #999;
    box-shadow: 0px 0px 5px #999;
}

/**
 * Generic styles
 */
ul.no-symbol, ol.no-symbol {
    margin-left: 0;
}
ul.no-symbol > li, ol.no-symbol > li {
    list-style-type: none;
}
.hidden {
    display: none;
}
.panel.status-unavailable {
    border-style: dashed;
    background: none repeat scroll 0% 0% #FDFDFD;
}
.full-height {
    height: 100%;
}

/**
 * jQuery UI styles
 */
.ui-sortable > * {
    cursor: move;
}

/**
 * Image sizes
 */
img.small {
    width: 22px;
    height: 22px;
}
img.medium {
    width: 32px;
    height: 32px;
}

/**
 * Menu-bar styles
 */
.menubar {
    padding: 0;
    margin: 0;
}
.menubar.margin-top-right {
    margin-top: 0.3rem;
    margin-right: 0.8rem;
}
.menubar > li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0.4rem;
}
.menubar > li > a, .menubar > li > div.menu > a {
    color: #222;
    font-size: 1.2rem;
}
.menubar > li > a:hover, .menubar > li > div.menu > a:hover {
    color: #0078a0;
}
@media print {
    .menubar {
        display: none;
    }
}

/**
 * Drop-down menu styles
 */
.menu {
    z-index: 98;
}
.menu > ul {
    margin: 0;
    padding: 0;
    background: white;
    border: solid 1px #cccccc;
    min-width: 200px;
    z-index: 98;
}
.menu li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0.875rem;
    cursor: pointer;
    line-height: 1.125rem;
}
.menu li a {
    padding: 0.5rem;
    display: block;
    color: #555555;
}
.menu li a:hover {
    background: #eeeeee;
    color: #222;
}
.menu li a.alert {
    background: #f04124;
    color: #fff;
}
.menu li a.alert:hover {
    background: cf2a0e;
}
.menu li.divider {
    border-bottom: 1px solid #ccc;
}
.menu li.divider + li.divider {
    display: none;
}

/**
 * Busy marker styles
 */
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.6;
    display: none;
}
#busy {
    position: absolute;
    z-index: 10001;
    display: none;
}

/**
 * Textbook styles
 */
#textbook {
    overflow: auto;
    box-sizing: border-box;
}
.display-mode-three_pane_html {
    border-right: 1px solid #333;
}

/**
 * Pagination styles
 */

.pagination {
    margin-top: 1.5em;
}
.pagination li.disabled {
    padding: 0.0625rem 0.625rem;
    visibility: hidden;
}
div.source {
    margin-bottom: 1.25rem;
}

/**
 * Editor styles
 */

#editor {
    overflow: hidden;
}
#files {
    border-bottom: 1px solid #333;
    overflow: hidden;
    position: relative;
}
#files .tabs {
    border-bottom: 1px solid #dfdfdf;
    padding: 0.5em 2em 0 2em;
}
#files .tabs dd {
    margin-right: 0.5em;
    margin-bottom: -1px !important;
}
#files .tabs dd > a {
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;
    border-bottom-color: #dfdfdf;
    background-color: #fff;
    padding: 0.5rem 32px 0.5rem 0.8rem;
}
#files .tabs dd > a:hover {
    background-color: #eee;
}
#files .tabs dd.active {
}
#files .tabs dd.active > a {
    border-top-color: #dfdfdf;
    border-right-color: #dfdfdf;
    border-bottom-color: transparent;
    border-left-color: #dfdfdf;
}
#files .tabs dd.active > a:hover {
    background-color: #fff;
}
#files .tabs-content .content {
    padding: 0.2em 0.5em;
}
#files .tabs-content .content textarea {
    height: 100%;
}
#files .tabs-content .content .CodeMirror {
    height: 100%;
}

/**
 * Viewer styles
 */

#viewer {
    box-sizing: border-box;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px #888 inset, -1px -1px 1px 0px #888 inset;
    position: relative;
}
#viewer iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#viewer .view-options {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #fff;
    padding: 0.2rem;
    display: none;
}
#viewer:hover .view-options {
    display: block;
}

/**
 * Footer styles
 */

footer {
    clear: both;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid #222222;
    font-size: 0.6rem;
}

/**
 * Slideshow styles
 */
.bespoke-overlay {
    z-index: 199;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
}
.bespoke-parent {
    -webkit-transition: background .6s ease;
    transition: background .6s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 200;
}
.bespoke-slide {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bespoke-slide {
    pointer-events: auto;
    -webkit-transition: -webkit-transform .6s ease,opacity .6s ease,background .6s ease;
    transition: transform .6s ease,opacity .6s ease,background .6s ease;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: left;
    text-align: left;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 50%;
    margin-top: -384px;
    left: 50%;
    margin-left: -512px;
    background: #ffffff;
    padding: 40px;
    border-radius: 0;
    font-size: 28pt;
}
.bespoke-first-slide {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.bespoke-before {
}
.bespoke-after{
}
.bespoke-inactive{
    opacity: 0;
    pointer-events: none;
}
.bespoke-active{
    opacity: 1;
}
.bespoke-overview .bespoke-slide {
    position: relative;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    width: 640px;
    height: 480px;
    margin: 0.5rem;
    box-shadow: 0px 0px 5px 0px #000;
    font-size: 12pt;
}
.bespoke-menu {
    position: absolute;
    top: 0;
    right: 0.5rem;
}
@media print{
    .bespoke-overview .bespoke-slide {
        border: 1px solid #000;
        page-break-inside: avoid;
    }
    .bespoke-menu {
        display: none;
    }
    .start-slideshow {
        display: none;
    }
}

.bespoke-slide h1 {
    font-size: 200%;
}
.bespoke-slide h2 {
    font-size: 160%;
}
.bespoke-slide p, .bespoke-slide ul, .bespoke-slide ol, .bespoke-slide li, .bespoke-slide pre {
    font-size: 100%;
}
 .bespoke-slide.rest .source pre {
    font-size: 100%;
    line-height: 1.2em;
 }
.bespoke-slide ul, .bespoke-slide ol {
    margin-left: 1.1em;
}
.bespoke-slide ul ul, .bespoke-slide ol ol, .bespoke-slide ul ol, .bespoke-slide ol ul {
    font-size: 90%;
}

.bespoke-bullet{
    -webkit-transition:all .3s ease;transition:all .3s ease;
}
.bespoke-bullet-active {
    opacity: 1;
}
.bespoke-bullet-inactive {
    opacity: 0;
}
li.bespoke-bullet-inactive {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}
@media print {
    .bespoke-bullet {
        -webkit-transition:none;transition:none;
    }
    li.bespoke-bullet-inactive {
        -webkit-transform: none;
        transform: none;
    }
    .bespoke-bullet-inactive {
        opacity:1
    }
}

.bespoke-scale-parent {
    -webkit-perspective: 600px;
    perspective: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.bespoke-scale-parent .bespoke-active {
    pointer-events: auto;
}
@media print{
    .bespoke-scale-parent {
        -webkit-transform: none!important;
        transform:none!important;
    }
}

.bespoke-progress-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
}
.bespoke-progress-bar {
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    position: absolute;
    height: 100%;
    background: #0089f3;
    border-radius: 0 4px 4px 0;
}
@media only screen and (min-width:1366px) {
    .bespoke-progress-parent {
        height: 4px;
    }
}
@media print {
    .bespoke-progress-parent {
        display: none;
    }
}
