/**
 * Foundation overrides
 */
.row.left {margin: 0;}
.panel .button {margin-bottom: 0;}
table input[type=checkbox], table input[type=submit], table select {margin-bottom: 0;}
table tfoot ul.pagination {margin:0;}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label {vertical-align: top; margin-left: 1em;}

/**
 * Generic styles
 */
ul.no-symbol, ol.no-symbol {
    margin-left: 0;
}
ul.no-symbol > li, ol.no-symbol > li {
    list-style-type: none;
}
.hidden {
    display: none;
}
.panel.status-unavailable {
    border-style: dashed;
    background: none repeat scroll 0% 0% #FDFDFD;
}
.full-height {
    height: 100%;
}

/**
 * jQuery UI styles
 */
.ui-sortable > * {
    cursor: move;
}

/**
 * Image sizes
 */
img.small {
    width: 22px;
    height: 22px;
}
img.medium {
    width: 32px;
    height: 32px;
}

/**
 * Drop-down menu styles
 */
.menu {
    z-index: 98;
}
.menu.section {
    position: absolute;
    right: 5px;
    top: 5px;
}
.menu.inline {
    position: relative;
    display: inline-block;
    float: right;
}
.menu > ul {
    margin: 0;
    padding: 0;
    background: white;
    border: solid 1px #cccccc;
    min-width: 200px;
}
.menu li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0.875rem;
    cursor: pointer;
    line-height: 1.125rem;
}
.menu li a {
    padding: 0.5rem;
    display: block;
    color: #555555;
}
.menu li a:hover {
    background: #eeeeee;
    color: #222;
}
.menu li a.alert {
    background: #f04124;
    color: #fff;
}
.menu li a.alert:hover {
    background: cf2a0e;
}
.menu li.divider {
    border-bottom: 1px solid #ccc;
}

/**
 * Busy marker styles
 */
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.6;
    display: none;
}
#busy {
    position: absolute;
    z-index: 10001;
    display: none;
}

/**
 * Textbook styles
 */
#textbook {
    overflow: auto;
    box-sizing: border-box;
    border-right: 1px solid #333;
}

/**
 * Pagination styles
 */

.pagination {
    margin-top: 1.5em;
}
.pagination li.disabled {
    padding: 0.0625rem 0.625rem;
    visibility: hidden;
}

/**
 * Editor styles
 */

#editor {
    overflow: hidden;
}
#files {
    border-bottom: 1px solid #333;
    overflow: hidden;
    position: relative;
}
#files .tabs {
    border-bottom: 1px solid #dfdfdf;
    padding: 0.5em 2em 0 2em;
}
#files .tabs dd {
    margin-right: 0.5em;
    margin-bottom: -1px !important;
}
#files .tabs dd > a {
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;
    border-bottom-color: #dfdfdf;
    background-color: #fff;
    padding: 0.5rem 32px 0.5rem 0.8rem;
}
#files .tabs dd > a:hover {
    background-color: #eee;
}
#files .tabs dd.active {
}
#files .tabs dd.active > a {
    border-top-color: #dfdfdf;
    border-right-color: #dfdfdf;
    border-bottom-color: transparent;
    border-left-color: #dfdfdf;
}
#files .tabs dd.active > a:hover {
    background-color: #fff;
}
#files .tabs-content .content {
    padding: 0.2em 0.5em;
}
#files .tabs-content .content textarea {
    height: 100%;
}
#files .tabs-content .content .CodeMirror {
    height: 100%;
}

/**
 * Viewer styles
 */

#viewer {
    box-sizing: border-box;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px #888 inset, -1px -1px 1px 0px #888 inset;
}
#viewer iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/**
 * Footer styles
 */

footer {
    clear: both;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid #222222;
    font-size: 0.6rem;
}