/**
 * Pygments styles
 */
.rest div.source.panel {margin-left:1rem; padding-top:0.3rem;}
.rest div.source div.title {font-size:0.7rem; text-transform:uppercase; margin-left: -2.25rem;}
.rest div.source div.title span.main {display:inline-block; color:#fff; background-color:#222; padding: 0.1rem 0.3rem; float:left; font-weight:bold;}
.rest div.source div.title:after {content: ' '; display:table; clear:both;}
.rest div.source.HTML div.title span.main {background-color:#070;}
.rest div.source.CSS div.title span.main {background-color:#700;}
.rest div.source.JavaScript div.title span.main {background-color:#007;}
.rest div.source.PHP div.title span.main {background-color:#077;}
.rest div.source.Python div.title span.main {background-color:#770;}
.rest div.source div.title span.filename {display:block; background-color:#ddd; text-align:right; padding:0.1rem 0.3rem; color: #666;}
.rest span.source {display: inline-block; background-color: #efefef; font-family:"Consolas","Deja Vu Sans Mono","Bitstream Vera Sans Mono",monospace; padding: 0px 0.2rem; border: 1px solid #dfdfdf; border-radius: 3px;}
.rest .source pre {line-height: 1.3rem; font-size: 0.9rem; padding:0.5rem 1rem 1rem 1rem; font-family:"Consolas","Deja Vu Sans Mono","Bitstream Vera Sans Mono",monospace;}
.rest .source .c { color: #408080; font-style: italic } /* Comment */
.rest .source .err { border: 1px solid #FF0000 } /* Error */
.rest .source .k { color: #008000; font-weight: bold } /* Keyword */
.rest .source .o { color: #666666 } /* Operator */
.rest .source .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.rest .source .cp { color: #BC7A00 } /* Comment.Preproc */
.rest .source .c1 { color: #408080; font-style: italic } /* Comment.Single */
.rest .source .cs { color: #408080; font-style: italic } /* Comment.Special */
.rest .source .gd { color: #A00000 } /* Generic.Deleted */
.rest .source .ge { font-style: italic } /* Generic.Emph */
.rest .source .gr { color: #FF0000 } /* Generic.Error */
.rest .source .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.rest .source .gi { color: #00A000 } /* Generic.Inserted */
.rest .source .go { color: #808080 } /* Generic.Output */
.rest .source .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.rest .source .gs { font-weight: bold } /* Generic.Strong */
.rest .source .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.rest .source .gt { color: #0040D0 } /* Generic.Traceback */
.rest .source .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.rest .source .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.rest .source .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.rest .source .kp { color: #008000 } /* Keyword.Pseudo */
.rest .source .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.rest .source .kt { color: #B00040 } /* Keyword.Type */
.rest .source .m { color: #666666 } /* Literal.Number */
.rest .source .s { color: #BA2121 } /* Literal.String */
.rest .source .na { color: #7D9029 } /* Name.Attribute */
.rest .source .nb { color: #008000 } /* Name.Builtin */
.rest .source .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.rest .source .no { color: #880000 } /* Name.Constant */
.rest .source .nd { color: #AA22FF } /* Name.Decorator */
.rest .source .ni { color: #999999; font-weight: bold } /* Name.Entity */
.rest .source .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.rest .source .nf { color: #0000FF } /* Name.Function */
.rest .source .nl { color: #A0A000 } /* Name.Label */
.rest .source .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.rest .source .nt { color: #008000; font-weight: bold } /* Name.Tag */
.rest .source .nv { color: #19177C } /* Name.Variable */
.rest .source .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.rest .source .w { color: #bbbbbb } /* Text.Whitespace */
.rest .source .mf { color: #666666 } /* Literal.Number.Float */
.rest .source .mh { color: #666666 } /* Literal.Number.Hex */
.rest .source .mi { color: #666666 } /* Literal.Number.Integer */
.rest .source .mo { color: #666666 } /* Literal.Number.Oct */
.rest .source .sb { color: #BA2121 } /* Literal.String.Backtick */
.rest .source .sc { color: #BA2121 } /* Literal.String.Char */
.rest .source .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.rest .source .s2 { color: #BA2121 } /* Literal.String.Double */
.rest .source .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.rest .source .sh { color: #BA2121 } /* Literal.String.Heredoc */
.rest .source .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.rest .source .sx { color: #008000 } /* Literal.String.Other */
.rest .source .sr { color: #BB6688 } /* Literal.String.Regex */
.rest .source .s1 { color: #BA2121 } /* Literal.String.Single */
.rest .source .ss { color: #19177C } /* Literal.String.Symbol */
.rest .source .bp { color: #008000 } /* Name.Builtin.Pseudo */
.rest .source .vc { color: #19177C } /* Name.Variable.Class */
.rest .source .vg { color: #19177C } /* Name.Variable.Global */
.rest .source .vi { color: #19177C } /* Name.Variable.Instance */
.rest .source .il { color: #666666 } /* Literal.Number.Integer.Long */

.rest tt.docutils.literal {
    font-family:"Consolas","Deja Vu Sans Mono","Bitstream Vera Sans Mono",monospace;
    padding: 0px 0.2rem;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}
.rest .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
