<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${exercise.title} - Edit</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>${exercise.title} - Edit</h1>
        <form action="${r.route_url('exercise.edit', mid=module.id, eid=exercise.id)}" method="post">
          <div class="clearfix">
            ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=exercise.title)}
          </div>
          <div class="clearfix">
            ${h.form.field('status', 'Status', h.form.tags.select, size='small-12', e=e, value=exercise.status, options=[('unavailable', 'Unavailable'), ('available', 'Available')])}
          </div>
          <div class="clearfix" py:if="exercise.templates">
            <div class="small-12 column">
              <label>Template order</label>
              <ul id="templates" class="no-symbol">
                <li py:for="template in exercise.templates" class="panel">${h.form.tags.hidden_field('template_id', template.id)}${template.filename}</li>
              </ul>
            </div>
          </div>
          <div class="text-right">
            ${h.form.tags.submit('Update', class_='button small')}
          </div>
        </form>
      </article>
    </div>
    <script>
    $('#templates').sortable();
    </script>
  </body>
</html>