<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${exercise.title}</title>
  </head>
  <body>
    <div class="row left" py:if="module.has_role('owner', r.current_user)">
      <article class="small-12 column">
        <h1>${exercise.title}</h1>
        <section py:if="exercise.templates">
          <h2>Templates</h2>
          <ul class="no-symbol">
            <li py:for="template in exercise.templates" class="panel">
              <span py:if="h.auth.is_authorised(r.current_user, 'edit', module)" class="right">
                <a href="${r.route_url('template.edit', mid=module.id, pid=exercise.id, tid=template.id)}" class="button tiny">Edit</a>
                <a href="${r.route_url('template.delete', mid=module.id, pid=exercise.id, tid=template.id)}" class="button tiny alert">Delete</a>
              </span>
              <h3>${template.filename}</h3>
            </li>
          </ul>
        </section>
        <div py:if="h.auth.is_authorised(r.current_user, 'edit', module)">
          <a href="${r.route_url('exercise.edit', mid=module.id, eid=exercise.id)}" class="button small">Edit</a>
          <a href="${r.route_url('template.new', mid=module.id, pid=exercise.id)}" class="button small">Add template</a>
          <a href="${r.route_url('exercise.delete', mid=module.id, eid=exercise.id)}" class="button small alert">Delete</a>
        </div>
      </article>
    </div>
    <py:if test="module.has_role('student', r.current_user)">
      <article class="rows">
        <section id="textbook" class="small-12 medium-6 large-4 column">
          <h1>${exercise.title}</h1>
        </section>
        <section id="editor" class="small-12 medium-6 large-8">
          <section id="files">
            <dl class="tabs" data-tab="">
              <dd py:for="idx, file in enumerate(progress.files)" id="${h.frontend.html_id(file.filename)}-tab" class="${'active' if idx == 0 else ''}"><a href="#${h.frontend.html_id(file.filename)}">${file.filename} <img src="${r.static_url('wte:static/img/spinner-small.gif')}" class="hidden"/></a></dd>
            </dl>
            <form class="tabs-content">
              <div py:for="idx, file in enumerate(progress.files)" class="content ${'active' if idx == 0 else ''}" id="${h.frontend.html_id(file.filename)}">
                ${h.form.tags.textarea('', file.content, None, data_wte_mimetype=file.mimetype, data_wte_fileid=file.id)}
              </div>
            </form>
          </section>
          <section id="viewer">
            <iframe src="${r.route_url('file.view', mid=module.id, ptid=exercise.id, pid='exercise', uid=r.current_user.id, filename='index.html')}"></iframe>
          </section>
        </section>
      </article>
      <script src="${r.static_url('wte:static/js/codemirror/codemirror.js')}"></script>
      ${h.frontend.codemirror_scripts(r, ['text/html'])}
      <script>
      function resize_page() {
          var win_height = $(window).innerHeight();
          $('nav.top-bar').each(function() {
              win_height = win_height - $(this).outerHeight(true);
          });
          $('#textbook').css('height', win_height + 'px');
          $('#editor').css('height', win_height + 'px');
          $('#files').css('height', (win_height / 2) + 'px');
          $('#files .content').each(function() {
              $(this).css('height', (win_height / 2) - $('#files .tabs').outerHeight(true) + 'px');
          });
          $('#viewer').css('height', (win_height / 2) + 'px');
      }
      function save_doc(cm, textarea) {
          var spinner = $('#' + textarea.parent().attr('id') + '-tab img');
          spinner.show();
          var url = '${r.route_url('file.save', mid=module.id, ptid=exercise.id, pid='exercise', uid=r.current_user.id, fid='FID')}';
          url = url.replace('FID', textarea.data('wte-fileid'));
          $.ajax(url, {
              type: 'POST',
              data: {'content': cm.getValue()},
              dataType: 'json'
          }).complete(function() {
              var iframe = $('#viewer iframe');
              iframe.attr('src', iframe.attr('src'));
          }).always(function() {
              spinner.hide();
          });
      }
      $(document).ready(function() {
          resize_page();
          $(window).on('resize', resize_page);
          $('#files .content textarea').each(function() {
              var textarea = $(this);
              cm = CodeMirror.fromTextArea(this, {
                  mode: textarea.data('wte-mimetype')
              });
              cm.on('change', function(cm, changes) {
                  clearTimeout(textarea.data('wte-timeout'));
                  textarea.data('wte-timeout', setTimeout(function() {save_doc(cm, textarea);}, 1000));
              });
              textarea.data('wte-cm', cm);
          });
          $('#files .tabs').on('toggled', function (event, tab) {
              tab.children('textarea').data('wte-cm').refresh();
          });
      });
      </script>
    </py:if>
  </body>
</html>