<article class="row left" xmlns:py="http://genshi.edgewall.org/">
  <section class="small-12 column">
    <h1>${part.title}</h1>
    ${h.Markup(part.compiled_content)}
    <section py:if="part.children">
      <h2>Tasks</h2>
      <ul class="no-symbol">
        <li py:if="child.allow('view', r.current_user)" py:for="child in part.children" class="panel clearfix status-${child.status}">
          <span class="right">
            <a py:if="child.allow('edit', r.current_user)" href="${r.route_url('part.edit', pid=child.id)}" class="button tiny">Edit</a>
            <a py:if="child.allow('delete', r.current_user)" href="${r.route_url('part.delete', pid=child.id)}" class="button tiny alert">Delete</a>
          </span>
          <h3><a href="${r.route_url('part.view', pid=child.id)}">${child.title}</a></h3>
        </li>
      </ul>
    </section>
    <div>
      <py:if test="part.allow('edit', r.current_user)">
        <a href="${r.route_url('part.edit', pid=part.id)}" class="button small">Edit</a>
        <a href="${r.route_url('part.new', new_type='task',_query=[('parent_id', part.id)])}" class="button small">Add Task</a>
      </py:if>
      <py:if test="part.allow('delete', r.current_user)">
        <a href="${r.route_url('part.delete', pid=part.id)}" class="button small alert">Delete</a>
      </py:if>
    </div>
  </section>
</article>