<article class="row left" xmlns:py="http://genshi.edgewall.org/">
  <section class="small-12 column">
    <div py:if="part.allow('edit', r.current_user) or part.allow('delete', r.current_user)" class="right">
      ${h.frontend.menubar([
        {'group': 'status', 'items': [
          {'visible': part.allow('edit', r.current_user),
           'icon': 'fi-lock' if part.status == 'available' else 'fi-unlock',
           'label': 'Make Unavailable' if part.status == 'available' else 'Make Available',
           'href': r.route_url('part.change_status', pid=part.id, _query=[('status', 'unavailable' if part.status == 'available' else 'available'), ('return_to', r.current_route_url())]),
           'class': 'post-link',
           'highlight': True}]},
        {'group': 'edit', 'items': [
          {'visible': part.allow('edit', r.current_user),
           'icon': 'fi-pencil',
           'label': 'Edit',
           'href': r.route_url('part.edit', pid=part.id),
           'highlight': True},
          {'visible': part.allow('edit', r.current_user),
           'label': 'Edit Timed Actions',
           'href': r.route_url('part.timed_task', pid=part.id)}]},
        {'group': 'add', 'items': [
          {'visible': part.allow('edit', r.current_user),
           'label': 'Add Page',
           'icon': 'fi-plus',
           'href': r.route_url('part.new', new_type='page', _query=[('parent_id', part.id)]),
           'highlight': True},
          {'visible': part.allow('edit', r.current_user),
           'label': 'Add Template',
           'icon': 'fi-plus',
           'href': r.route_url('asset.new', pid=part.id, new_type='template'),
           'highlight': True},
          {'visible': part.allow('edit', r.current_user),
           'label': 'Add Asset',
           'icon': 'fi-plus',
           'href': r.route_url('asset.new', pid=part.id, new_type='asset'),
           'highlight': True}]},
        {'group': 'importexport', 'items': [
          {'visible': part.allow('edit', r.current_user),
           'label': 'Import',
           'href': r.route_url('part.import', _query=[('parent_id', part.id)])},
          {'visible': part.allow('edit', r.current_user),
           'label': 'Export',
           'href': r.route_url('part.export', pid=part.id),
           'class': 'post-link'}]},
        {'group': 'delete', 'items': [
          {'visible': part.allow('delete', r.current_user),
           'label': 'Delete',
           'href': r.route_url('part.delete', pid=part.id),
           'class': 'alert post-link',
           'confirm': h.frontend.confirm_delete(part.type, part.title, True)}]},
      ])}
    </div>
    <h1>${part.title}<small py:if="part.status == 'unavailable'" class="label radius">Unavailable</small></h1>
    ${h.Markup(part.compiled_content)}
    <div py:if="not part.has_role('student', r.current_user)">
      <section py:if="part.children">
        <h2>Pages</h2>
        <ul class="no-symbol">
          <li py:if="part.allow('view', r.current_user)" py:for="child in part.children" class="panel clearfix status-${child.status}">
            <div py:if="child.allow('edit', r.current_user) or child.allow('delete', r.current_user)" class="right">
              ${h.frontend.menubar([
                {'group': 'status', 'items': [
                  {'visible': child.allow('edit', r.current_user),
                   'icon': 'fi-lock' if child.status == 'available' else 'fi-unlock',
                   'label': 'Make Unavailable' if child.status == 'available' else 'Make Available',
                   'href': r.route_url('part.change_status', pid=child.id, _query=[('status', 'unavailable' if child.status == 'available' else 'available'), ('return_to', r.current_route_url())]),
                   'class': 'post-link',
                   'highlight': True}]},
                {'group': 'edit', 'items': [
                  {'visible': child.allow('edit', r.current_user),
                   'icon': 'fi-pencil',
                   'label': 'Edit',
                   'href': r.route_url('part.edit', pid=child.id),
                   'highlight': True}]},
                {'group': 'importexport', 'items': [
                  {'visible': child.allow('edit', r.current_user),
                   'label': 'Export',
                   'href': r.route_url('part.export', pid=child.id),
                   'class': 'post-link'}]},
                {'group': 'delete', 'items': [
                  {'visible': child.allow('delete', r.current_user),
                   'label': 'Delete',
                   'href': r.route_url('part.delete', pid=child.id),
                   'class': 'alert post-link',
                   'confirm': h.frontend.confirm_delete(child.type, child.title, True)}]},
              ])}
            </div>
            <h3><a href="${r.route_url('part.view', pid=child.id)}">${child.title}</a><small py:if="child.status == 'unavailable'" class="label radius">Unavailable</small></h3>
            ${h.frontend.part_summary(child)}
          </li>
        </ul>
      </section>
      <section py:if="part.templates">
        <h2>Templates</h2>
        <ul class="no-symbol">
          <li py:for="template in part.templates" class="panel clearfix">
            <div py:if="part.allow('edit', r.current_user)" class="right">
              ${h.frontend.menubar([
                {'group': 'edit', 'items': [
                  {'visible': True,
                   'icon': 'fi-pencil',
                   'label': 'Edit',
                   'href': r.route_url('asset.edit', pid=part.id, aid=template.id),
                   'highlight': True}]},
                {'group': 'delete', 'items': [
                  {'visible': True,
                   'label': 'Delete',
                   'href': r.route_url('asset.delete', pid=part.id, aid=template.id),
                   'class': 'alert post-link',
                   'confirm': h.frontend.confirm_delete('template', template.filename, False)}]},
              ])}
            </div>
            <h3>${template.filename} (${template.mimetype})</h3>
          </li>
        </ul>
      </section>
      <section py:if="part.assets">
        <h2>Assets</h2>
        <ul class="no-symbol">
          <li py:for="asset in part.assets" class="panel clearfix">
            <div py:if="part.allow('edit', r.current_user)" class="right">
              ${h.frontend.menubar([
                {'group': 'edit', 'items': [
                  {'visible': True,
                   'icon': 'fi-pencil',
                   'label': 'Edit',
                   'href': r.route_url('asset.edit', pid=part.id, aid=asset.id),
                   'highlight': True}]},
                {'group': 'delete', 'items': [
                  {'visible': True,
                   'label': 'Delete',
                   'href': r.route_url('asset.delete', pid=part.id, aid=asset.id),
                   'class': 'alert post-link',
                   'confirm': h.frontend.confirm_delete('asset', asset.filename, False)}]},
              ])}
            </div>
            <h3><a href="${r.route_url('asset.view', mid=-1, pid=part.id, filename=asset.filename)}">${asset.filename} (${asset.mimetype})</a></h3>
          </li>
        </ul>
      </section>
    </div>
    <div py:if="part.has_role('student', r.current_user)">
       <a py:if="not progress.current and progress.part.children" href="${r.route_url('part.view', pid=progress.part.children[0].id)}" class="button small">Follow the Tutorial</a>
       <a py:if="progress.current" href="${r.route_url('part.view', pid=progress.current.id)}" class="button small">Continue the Tutorial</a>
    </div>
  </section>
  <script>
  $('.menu').dropdownMenu();
  </script>
</article>