<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>${part.title}</title>
    <link rel="stylesheet" href="${'../' * depth}_static/application.min.css"/>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div class="row">
      <div class="title">
        <h1>${part.title}</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12">${h.Markup(part.compiled_content)}</div>
    </div>
    <div py:if="part.type == 'module'" class="row">
      <div class="small-12">
        <h2>Tutorials &amp; Exercises</h2>
        <ul class="no-indent no-symbol">
          <li class="panel" py:for="child in part.children" py:if="child.allow('view', r.current_user)">
            <h3><a href="${child.id}/index.html">${child.title}</a></h3>
            ${h.frontend.part_summary(child)}
          </li>
        </ul>
      </div>
    </div>
    <div py:if="part.type == 'tutorial'" class="row">
      <div class="small-12">
        <h2>Pages</h2>
        <ul class="no-indent no-symbol">
          <li class="panel" py:for="child in part.children">
            <h3><a href="${child.id}/index.html">${child.title}</a></h3>
            ${h.frontend.part_summary(child)}
          </li>
        </ul>
      </div>
      <div py:if="part.all_assets" class="small-12">
        <p>The files needed for this tutorial are placed in the <a href="workspace/">workspace</a> directory.</p>
      </div>
    </div>
    <div py:if="part.type == 'exercise'" class="row">
      <div class="small-12">
        <h2>Tasks</h2>
        <ul class="no-indent no-symbol">
          <li class="panel" py:for="child in part.children" py:if="child.allow('view', r.current_user)">
            <h3><a href="${child.id}/index.html">${child.title}</a></h3>
            ${h.frontend.part_summary(child)}
          </li>
        </ul>
      </div>
    </div>
    <div py:if="part.type == 'task'" class="row">
      <div class="small-12">
        <p>The files needed for this task are placed in the <a href="workspace/">workspace</a> directory.</p>
      </div>
    </div>
    <div py:if="(part.type == 'page' or part.type == 'task') and depth > 0" class="row">
      <div class="small-12">
        <?python
          prev_page = None
          next_page = None
          state = 0
          for child in part.parent.children:
              if state == 0 and child != part:
                  prev_page = child
              elif state == 0 and child == part:
                  state = 1
              elif state == 1:
                  next_page = child
                  break
        ?>
        <ul class="pagination">
          <li py:if="prev_page"><a href="../${prev_page.id}/index.html">&laquo; Previous Page</a></li>
          <li py:if="next_page"><a href="../${next_page.id}/index.html">Next Page &raquo;</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>