<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Edit</title>
    <script src="${r.static_url('wte:static/js/mathjax/MathJax.js', _query=[('config', 'default')])}"></script>
  </head>
  <body>
    <div class="row row-left">
      <h1 class="small-12 column">${part.title} - Edit</h1>
    </div>
    <div class="row row-left row-full">
      <article id="editor" class="small-12 medium-6 large-5 column">
        <form action="${r.route_url('part.edit', pid=part.id)}" method="post">
          <div class="clearfix">
            ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=part.title)}
          </div>
          <py:if test="part.type in ['page', 'task']">
            ${h.form.tags.hidden_field('status', 'available')}
            ${h.form.tags.hidden_field('display_mode', 'inherit')}
          </py:if>
          <div class="clearfix" py:if="part.type not in ['page', 'task']">
            ${h.form.field('status', 'Status', h.form.tags.select, size='small-12', e=e, value=part.status, options=[('unavailable', 'Unavailable'), ('available', 'Available'), ('archived', 'Archived')] if part.type == 'module' else [('unavailable', 'Unavailable'), ('available', 'Available')])}
          </div>
          <py:if test="part.type == 'module'">
            ${h.form.tags.hidden_field('display_mode', 'default')}
          </py:if>
          <py:if test="part.type in ['tutorial', 'exercise']">
            ${h.form.field('display_mode', 'Type', h.form.tags.select, size='small-12', e=e, value=part.display_mode, options=[('text_only', 'Text Only'), ('three_pane_html', 'Text, Editor &amp; HTML Viewer')])}
          </py:if>
          <div class="clearfix codemirror-border">
            ${h.form.field('content', 'Content', h.form.tags.textarea, size='small-12', e=e, default=part.content, id='page-content', style='height:20em;')}
          </div>
          <div class="clearfix" py:if="part.children">
            <div class="small-12 column">
              <label>Child-part order</label>
              <ul id="children" class="no-symbol">
                <li py:for="child in part.children" class="panel">${h.form.tags.hidden_field('child_part_id', child.id)}${child.title}</li>
              </ul>
            </div>
          </div>
          <div class="clearfix" py:if="part.templates">
            <div class="small-12 column">
              <label>Template order</label>
              <ul id="templates" class="no-symbol">
                <li py:for="template in part.templates" class="panel">${h.form.tags.hidden_field('template_id', template.id)}${template.filename} (${template.mimetype})</li>
              </ul>
            </div>
          </div>
          <div class="text-right">
            <a href="${r.route_url('part.view', pid=part.id)}" class="button small secondary">Don't Update</a>
            ${h.form.tags.submit('Update', class_='button small')}
          </div>
        </form>
      </article>
      <aside id="textbook" class="small-12 medium-6 large-5 column rest">
        Loading...
      </aside>
      <div class="small-12 large-2 column">
        <h3>Help</h3>
        <ul id="help_sections" class="accordion no-margin" data-accordion="">
          <li class="accordion-navigation">
            <a href="#help_input_fields">Input Fields</a>
            <div id="help_input_fields" class="content">
              <dl>
                <dt>Title</dt>
                <dd>The title of the ${part.type}.</dd>
                <py:if test="part.type not in ['page', 'task']">
                  <dt>Status</dt>
                  <dd>The <em>status</em> determines whether the ${part.type} is available to users. <py:if test="part.type == 'module'">Three</py:if><py:if test="part.type != 'module'">Two</py:if> status are available:
                    <ul>
                      <li><em>Unavailable</em> - the ${part.type} is only available to users who have edit rights for the ${part.type}.</li>
                      <li><em>Available</em> - the ${part.type} is available to all users.</li>
                      <li py:if="part.type == 'module'"><em>Archived</em> - the ${part.type} is available for users who have registered for it, but no new registrations are possible.</li>
                    </ul>
                  </dd>
                </py:if>
                <dt>Content</dt>
                <dd>Contains the text that will be displayed as the main content of the ${part.type}. As you make changes to the <em>content</em> text input, you can see a preview of what the text will look like to the user on the right.</dd>
                <py:if test="part.children">
                  <dt>Child-part Order</dt>
                  <dd>Drag the child parts up or down to re-arrange their order.</dd>
                </py:if>
              </dl>
              To save your changes, click on the <span class="button tiny inline">Update</span> button. To discard any changes, click on the <span class="button tiny secondary inline">Don't Update</span> button.
            </div>
          </li>
          <li class="accordion-navigation">
            <a href="#help_markup">Content Markup</a>
            <div id="help_markup" class="content">
              <p>Inside the <em>content</em> text input you can use the following markup to style your text:</p>
              <ul id="help_sections_markup" class="accordion no-margin dense" data-accordion="">
                <li class="accordion-navigation">
                  <a href="#help_markup_emphasis">Emphasis</a>
                  <div id="help_markup_emphasis" class="content">
                    <p>Emphasis is added by placing a * before and after the text to emphasise:</p>
                    <pre>*text to emphasise*</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_strong_emphasis">Strong Emphasis</a>
                  <div id="help_markup_strong_emphasis" class="content">
                    <p>Strong emphasis is added by ** before and after the text to emphasise:</p>
                    <pre>**text to strongly emphasise**</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_paragraphs">Paragraphs</a>
                  <div id="help_markup_paragraphs" class="content">
                    <p>Add an empty line between text to separate paragraphs.</p>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_bullet_list">Bullet List</a>
                  <div id="help_markup_bullet_list" class="content">
                    <p>Bullet lists are created by placing a single * at the beginning of the line. Multiple list items should be separated by single empty lines</p>
                    <pre>* One

* Two

* Three</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_numbered_list">Numbered List</a>
                  <div id="help_markup_numbered_list" class="content">
                    <p>Numbered lists are created by placing a single #. at the beginning of the line. Multiple list items should be separated by single empty lines</p>
                    <pre>#. One

#. Two

#. Three</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_code_block">Code Block</a>
                  <div id="help_markup_code_block" class="content">
                    <p>Code blocks are created using the <em>sourcecode</em> directive, which will automatically add syntax highlighting. Place the programming language's name as the first parameter after the :: . The optional :filename: parameter allows you to specify the filename that is displayed over the code block. The code content must be indented two spaces and must be separated at the bottom and top by single empty lines.</p>
                    <pre>.. sourcecode:: html
  :filename: index.html
  
  &lt;html&gt;
  &lt;/html&gt;
  </pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_inline_code">Inline Code</a>
                  <div id="help_markup_inline_code" class="content">
                    <p>To create in-line code sections with syntax highlighting use <em>:code-{language}:``</em>. Replace {language} with the programming language to highlight and the actual code between the `:</p>
                    <pre>:code-html:`&lt;html&gt;&lt;/html&gt;`</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_assets">Assets</a>
                  <div id="help_markup_assets" class="content">
                    <p>To link assets into your text use <em>:asset:`filename`</em> or <em>:asset:`title &lt;filename&gt;`</em>. If the asset is an image, then it will be included as an image. For all other types of assets, a download link will be provided. By default the asset is loaded from the current ${part.type}, but by prefixing the filename with "parent:" you can load the asset from the parent part.</p>
                    <pre>:asset:`image.png`
:asset:`Another image &lt;parent:image.png&gt;`</pre>
                  </div>
                </li>
                <li class="accordion-navigation">
                  <a href="#help_markup_cross_references">Cross-references</a>
                  <div id="help_markup_cross_references" class="content">
                    <p>To cross-reference to another part, use <em>:crossref:`id`</em> or <em>:crossref:`title &lt;id&gt;`</em>. If you specify a title, then that is used as the title for the link, otherwise the target part's title is used. To find the id of a part, go to the part and then in the URL, the id is the number after <em>/parts/</em>.</p>
                    <pre>:crossref:`42`
:crossref:`See here &lt;42&gt;`</pre>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    ${h.frontend.codemirror_scripts(r, ['text/x-rst'])}
    <script>
    var code_change_timer = undefined;
    function render_page() {
        $.ajax('${r.route_url('part.preview', pid=part.id)}', {
            data: {'content': $('#page-content').val()},
            type: 'POST'
        }).success(function(data) {
            $('#textbook').html(data.content);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        });
        $('#textbook').css('height', $('#editor').height() + 'px');
    }
    $('#page-content').keyup(function() {
        clearTimeout(code_change_timer);
        code_change_timer = setTimeout(render_page, 1000);
    });
    render_page();
    $('#children').sortable();
    $('#templates').sortable();
    var textarea = $('#page-content');
    var cm = CodeMirror.fromTextArea(textarea[0], {
        mode: 'text/x-rst',
        theme: 'elegant'
    });
    cm.on('change', function(cm, changes) {
        cm.save();
        clearTimeout(code_change_timer);
        code_change_timer = setTimeout(render_page, 1000);
    });
    </script>
  </body>
</html>