<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Edit</title>
    <script src="${r.static_url('wte:static/js/mathjax/MathJax.js', _query=[('config', 'default')])}"></script>
  </head>
  <body>
    <div class="row.left clearfix">
      <h1 class="small-12 medium-6 large-6 column">${part.title} - Edit</h1>
    </div>
    <article id="editor" class="small-12 medium-6 large-6 column">
      <form action="${r.route_url('part.edit', pid=part.id)}" method="post">
        <div class="clearfix">
          ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=part.title)}
        </div>
        <py:if test="part.type != 'project'">
          <div class="clearfix">
            ${h.form.field('status', 'Status', h.form.tags.select, size='small-12', e=e, value=part.status, options=[('unavailable', 'Unavailable'), ('available', 'Available')])}
          </div>
          <div class="clearfix">
            ${h.form.field('content', 'Content', h.form.tags.textarea, size='small-12', e=e, default=part.content, id='page-content', style='height:20em;')}
          </div>
        </py:if>
        <py:if test="part.type == 'project'">${h.form.tags.hidden_field('status', 'unavailable')}${h.form.tags.hidden_field('content', ' ', id='page-content')}</py:if>
        <div class="clearfix" py:if="part.children">
          <div class="small-12 column">
            <label>Child-part order</label>
            <ul id="children" class="no-symbol">
              <li py:for="child in part.children" class="panel">${h.form.tags.hidden_field('child_part_id', child.id)}${child.title}</li>
            </ul>
          </div>
        </div>
        <div class="clearfix" py:if="part.templates">
          <div class="small-12 column">
            <label>Template order</label>
            <ul id="templates" class="no-symbol">
              <li py:for="template in part.templates" class="panel">${h.form.tags.hidden_field('template_id', template.id)}${template.filename} (${template.mimetype})</li>
            </ul>
          </div>
        </div>
        <div class="text-right">
          <a href="${r.route_url('part.view', pid=part.id)}" class="button small secondary">Don't Update</a>
          ${h.form.tags.submit('Update', class_='button small')}
        </div>
      </form>
    </article>
    <aside id="textbook" class="small-12 medium-6 large-6 column">
      Loading...
    </aside>
    <script>
    var code_change_timer = undefined;
    function render_page() {
        $.ajax('${r.route_url('part.preview', pid=part.id)}', {
            data: {'content': $('#page-content').val()},
            type: 'POST'
        }).success(function(data) {
            $('#textbook').html(data.content);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        });
        $('#textbook').css('height', $('#editor').height() + 'px');
    }
    $('#page-content').keyup(function() {
        clearTimeout(code_change_timer);
        code_change_timer = setTimeout(render_page, 1000);
    });
    render_page();
    $('#children').sortable();
    $('#templates').sortable();
    </script>
  </body>
</html>