<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title} - Export</title>
  </head>
  <body>
    <div class="row.left clearfix">
      <h1 class="small-12 medium-6 large-6 column">${part.title} - Export</h1>
    </div>
    <article class="small-12 medium-6 large-6 column">
      <form action="${r.route_url('part.export', pid=part.id)}" method="post">
        <p>Export &quot;${part.title}&quot; into a file for backup purposes or to transfer the
          module to another Web Teaching Environment.</p>
        <div class="text-right">
          <a href="${r.route_url('part.view', pid=part.id)}" class="button small secondary">Don't Export</a>
          ${h.form.tags.submit('Export', class_='button small')}
        </div>
      </form>
    </article>
  </body>
</html>