<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${title}</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 column">
        <h1>${title}</h1>
        <ul class="no-symbol">
          <li py:if="not modules" class="panel callout">${missing}</li>
          <li py:for="part in modules" class="panel clearfix status-${part.status}}">
            <div py:if="part.allow('edit', r.current_user) or part.allow('delete', r.current_user)" class="right">
              ${h.frontend.menubar([
                {'group': 'status', 'items': [
                  {'visible': part.allow('edit', r.current_user) and part.type not in ['page', 'task'],
                   'icon': 'fi-lock' if part.status == 'available' else 'fi-unlock',
                   'label': 'Make Unavailable' if part.status == 'available' else 'Make Available',
                   'href': r.route_url('part.change_status', pid=part.id, _query=[('status', 'unavailable' if part.status == 'available' else 'available'), ('return_to', r.current_route_url())]),
                   'class': 'post-link',
                   'highlight': True},
                  {'visible': part.allow('edit', r.current_user) and part.type == 'module' and part.status != 'archived',
                   'label': 'Archive',
                   'href': r.route_url('part.change_status', pid=part.id, _query=[('status', 'archived'), ('return_to', r.current_route_url())]),
                   'class': 'post-link'},
                  {'visible': part.allow('edit', r.current_user) and part.type == 'module' and part.status != 'archived',
                   'label': 'Access Settings',
                   'href': r.route_url('part.register.settings', pid=part.id)}]},
                {'group': 'edit', 'items': [
                  {'visible': part.allow('edit', r.current_user),
                   'icon': 'fi-pencil',
                   'label': 'Edit',
                   'href': r.route_url('part.edit', pid=part.id),
                   'highlight': True},
                  {'visible': part.allow('edit', r.current_user),
                   'label': 'Edit Timed Actions',
                   'href': r.route_url('part.timed_task', pid=part.id)}]},
                {'group': 'add', 'items': [
                  {'visible': part.allow('edit', r.current_user),
                   'icon': 'fi-plus',
                   'label': 'Add Tutorial',
                   'href': r.route_url('part.new', new_type='tutorial', _query=[('parent_id', part.id)]),
                   'highlight': True},
                  {'visible': part.allow('edit', r.current_user),
                   'icon': 'fi-plus',
                   'label': 'Add Exercise',
                   'href': r.route_url('part.new', new_type='exercise', _query=[('parent_id', part.id)]),
                   'highlight': True},
                  {'visible': part.allow('edit', r.current_user),
                   'label': 'Add Asset',
                   'href': r.route_url('asset.new', pid=part.id, new_type='asset')}]},
                {'group': 'importexport', 'items': [
                  {'visible': part.allow('edit', r.current_user),
                   'label': 'Import',
                   'href': r.route_url('part.import', _query=[('parent_id', part.id)])},
                  {'visible': part.allow('edit', r.current_user),
                   'label': 'Export',
                   'href': r.route_url('part.export', pid=part.id),
                   'class': 'post-link'}]},
                {'group': 'users', 'items': [
                  {'visible': part.allow('edit', r.current_user),
                   'label': 'Users',
                   'href': r.route_url('part.users', pid=part.id)}]},
                {'group': 'delete', 'items': [
                  {'visible': part.allow('delete', r.current_user),
                   'label': 'Delete',
                   'href': r.route_url('part.delete', pid=part.id),
                   'class': 'alert post-link',
                   'confirm': h.frontend.confirm_delete(part.type, part.title, True)}]},
              ])}
            </div>
            <h3>
              <a py:if="part.allow('view', r.current_user)" href="${r.route_url('part.view', pid=part.id)}">${part.title}</a>
              <span py:if="not part.allow('view', r.current_user)">${part.title}</span>
              <small py:if="part.status != 'available'" class="label radius">${h.text.title(part.status)}</small>
            </h3>
            ${h.frontend.part_summary(part)}
          </li>
        </ul>
        <div>
          <a py:if="r.current_user.has_permission('modules.create')" href="${r.route_url('part.import')}" class="button small">Import Module</a>
          <a py:if="r.current_user.has_permission('modules.create')" href="${r.route_url('part.new', new_type='module')}" class="button small">New Module</a>
        </div>
      </article>
    </div>
    <script>
    $('.menu').dropdownMenu();
    </script>
  </body>
</html>