<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Available modules</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 column">
        <h1>Available modules</h1>
        <ul class="no-symbol">
          <li py:if="not modules" class="panel callout">There are currently no modules available.</li>
          <li py:for="part in modules" class="panel clearfix">
            <div py:if="part.allow('edit', r.current_user) or part.allow('delete', r.current_user)" class="menu inline"><a href="#" class=""><img src="${r.static_url('wte:static/img/menu-icon.svg')}" alt="Menu" class="small"/></a>
              <ul>
                <li><a py:if="part.allow('edit', r.current_user)" href="${r.route_url('part.edit', pid=part.id)}">Edit</a></li>
                <li class="divider"></li>
                <li><a py:if="part.allow('delete', r.current_user)" href="${r.route_url('part.delete', pid=part.id)}" class="alert">Delete</a></li>
              </ul>
            </div>
            <h3><a href="${r.route_url('part.view', pid=part.id)}">${part.title}</a></h3>
          </li>
        </ul>
        <div>
          <a py:if="r.current_user.has_permission('modules.create')" href="${r.route_url('part.new', new_type='module')}" class="button small">New Module</a>
        </div>
      </article>
    </div>
    <script>
    $('.menu').dropdownMenu();
    </script>
  </body>
</html>