<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Add ${h.text.title(r.matchdict['new_type'])}</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>Add ${h.text.title(r.matchdict['new_type'])}</h1>
        <form action="${r.route_url('part.new', new_type=r.matchdict['new_type'])}" method="post">
          <py:if test="'parent_id' in r.params">${h.form.tags.hidden_field('parent_id', r.params['parent_id'])}</py:if>
          <div class="clearfix">
            ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=u'')}
          </div>
          <div py:if="r.matchdict['new_type'] != 'project'" class="clearfix">
            ${h.form.field('status', 'Status', h.form.tags.select, size='small-12', e=e, value=u'unavailable', options=[('unavailable', 'Unavailable'), ('available', 'Available')])}
          </div>
          <py:if test="r.matchdict['new_type'] == 'project'">${h.form.tags.hidden_field('status', 'unavailable')}</py:if>
          <div class="text-right">
            ${h.form.tags.submit('Create', class_='button small')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>