<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${part.title}</title>
  </head>
  <body>
    <xi:include href="_module.html" py:if="part.type == 'module'"/>
    <xi:include href="_tutorial.html" py:if="part.type == 'tutorial'"/>
    <xi:include href="_page.html" py:if="part.type == 'page'"/>
    <xi:include href="_exercise.html" py:if="part.type == 'exercise'"/>
    <xi:include href="_task.html" py:if="part.type == 'task'"/>
  </body>
</html>