<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>500 - Internal Server Error</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 column">
        <h1>Internal Server Error</h1>
        <p>Unfortunately something went wrong while the Web Teaching Environment was processing your request.
          The error has been logged automatically and you do not have to do anything about it.</p>
        <p>If you do feel that you need to inform your local administrator, please let them know when the
          error occurred and what you were trying to do at the time.</p>
        <p>In the meantime, why not have a look at <a href="${r.route_url('modules')}">what other content is
          available</a>.</p> 
      </article>
    </div>
  </body>
</html>