<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Delete ${task.title} Action</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>Delete ${task.title} Action</h1>
        <form action="${r.route_url('part.timed_task.delete', pid=part.id, tid=task.id)}" method="post">
          <p>Please confirm that you wish to delete the action &quot;${task.title}&quot;.</p>
          <div class="text-right">
            <a href="${r.route_url('part.timed_task', pid=part.id)}" class="button small secondary">Don't Delete</a>
            ${h.form.tags.submit('Delete', class_='button small alert')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>