<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Edit ${task.title} Action</title>
  </head>
  <body>
    <datalist id="timeslots">
      <py:for each="idx in range(0, 24)">
        <option value="${'%02i' % (idx)}:00"></option>
        <option value="${'%02i' % (idx)}:30"></option>
      </py:for>
    </datalist>
    <div class="row row-left">
      <div class="small-12 column end">
        <h1>Edit ${task.title} Action</h1>
      </div>
    </div>
    <article class="row row-left">
      <form action="${r.current_route_url()}" method="post" class="small-12 column end">
        <div class="row">
          ${h.form.field('date', 'Date', h.form.tags.date_field, e=e, size='small-8 medium-5 large-3 column', default=task.timestamp.strftime('%Y-%m-%d') if task.timestamp else '', data_date_format='yyyy-mm-dd', placeholder='yyyy-mm-dd')}
          ${h.form.field('time', 'Time', h.form.tags.time_field, e=e, size='small-4 medium-3 large-2 column end', default=task.timestamp.strftime('%H:%M') if task.timestamp else '', placeholder='hh:mm', list='timeslots')}
        </div> 
        <div class="row">
          ${h.form.field('options.target_status', 'Change Status To', h.form.tags.select, size='small-12 medium-8 large-5 column end', e=e, value=task.options['target_status'] if 'target_status' in task.options else '', options=[('unavailable', 'Unavailable'), ('available', 'Available'), ('archive', 'Archive')] if part.type == 'module' else [('unavailable', 'Unavailable'), ('available', 'Available')])}
        </div>
        <div class="text-right">
          <a href="${r.route_url('part.timed_task', pid=part.id)}" class="button secondary small">Don't Update</a>
          ${h.form.tags.submit('Update', class_='button small')}
        </div>
      </form>
    </article>
  </body>
</html>