<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Timed Actions for ${part.title}</title>
  </head>
  <body>
    <datalist id="timeslots">
      <py:for each="idx in range(0, 24)">
        <option value="${'%02i' % (idx)}:00"></option>
        <option value="${'%02i' % (idx)}:30"></option>
      </py:for>
    </datalist>
    <div class="row left">
      <div class="small-12 column end">
        <h1>Timed Actions for ${part.title}</h1>
      </div>
    </div>
    <article class="row left">
      <ul class="no-indent no-symbol small-12 medium-6 large-8 column">
        <li py:if="not part.tasks">There are currently no timed actions for this ${part.type}.</li>
        <li py:for="task in part.tasks" class="panel">
          <div class="right">
            ${h.frontend.menubar([
                {'group': 'edit', 'items': [
                    {'visible': part.allow('edit', r.current_user),
                     'icon': 'fi-pencil',
                     'label': 'Edit',
                     'href': r.route_url('part.timed_task.edit', pid=part.id, tid=task.id),
                     'highlight': True}]},
                {'group': 'delete', 'items': [
                    {'visible': part.allow('edit', r.current_user),
                     'label': 'Delete',
                     'href': r.route_url('part.timed_task.delete', pid=part.id, tid=task.id),
                     'class': 'alert post-link',
                     'confirm': h.frontend.confirm_delete('timed action', task.title, False)}]}
            ])}
          </div>
          <h4>${task.title}
            <small py:if="task.timestamp" title="${task.timestamp.strftime('on %Y-%m-%d at %H:%M')}">(${h.frontend.readable_timedelta(task.delta)})</small>
            <span class="label radius ${'secondary' if task.status == 'ready' else 'success' if task.status == 'completed' else 'alert' if task.status == 'failed' else ''}">${h.text.title(task.status)}</span>
          </h4>
          <p py:if="task.name == 'change_status' and 'target_status' in task.options">Changing ${part.type} status to &quot;${task.options['target_status']}&quot;</p>
        </li>
      </ul>
        <section class="small-12 medium-6 large-4 column">
          <h2 class="hidden">Add an Action</h2>
          <form action="${r.route_url('part.timed_task.new', pid=part.id)}" method="post">
            <div class="row collapse">
                ${h.form.field('name', '', h.form.tags.select, size='small-8', e=e, value='', options=available_tasks)}
                <div class="small-4 column end">
                  ${h.form.tags.submit('Add Action', class_='button postfix')}
                </div>
            </div>
          </form>
        </section>
    </article>
    <script>
    $('.menu').dropdownMenu();
    </script>
  </body>
</html>