<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Registration confirmed</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 column end">
        <py:if test="status == 'success'">
          <h1>Registration confirmed</h1>
          <p>Your registration has been confirmed and you have been sent an
            e-mail with your login information.</p>
        </py:if>
        <py:if test="status == 'confirmed'">
          <h1>Already confirmed</h1>
          <p>Your registration has already been confirmed. You can
            <a href="${r.route_url('user.login')}">log in</a> using the
            username and password sent to you by e-mail.</p>
          <p>If you have not received an e-mail with those details, please
            check your spam folder. Alternatively you can also
            <a href="${r.route_url('user.forgotten_password')}">request a new password</a>.</p>
        </py:if>
        <py:if test="status == 'fail'">
          <h1>Confirmation failed</h1>
          <p>Unfortunately we have no data that matches your confirmation.</p>
          <p>Please try <a href="${r.route_url('user.register')}">registering again</a>
            or if that confirms that a user with your e-mail address already
            exists, then try to <a href="${r.route_url('user.forgotten_password')}">request a new password</a>
            using the e-mail address you provided, which will send another
            confirmation e-mail.</p>
        </py:if>
      </article>
    </div>
  </body>
</html>