<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${user.display_name} - Delete</title>
  </head>
  <body>
    <div class="row row-left">
      <article class="small-12 column">
        <h1>${user.display_name} - Delete</h1>
        <form action="${r.route_url('user.delete', uid=user.id)}" method="post">
          <p class="small-12">Please confirm that you wish to
            delete the user &quot;${user.display_name}&quot;. This step cannot
            be undone.</p>
          <div class="small-12 text-right">
            <a href="${r.route_url('user.view', uid=user.id)}" class="button small secondary">Don't Delete</a>
            ${h.form.tags.submit('Delete', class_='button small alert')}
          </div>
        </form>
      </article>
    </div>
  </body>
</html>