<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Request a new password</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 column end">
        <h1>Request Password</h1>
        <form action="${r.route_url('user.forgotten_password')}" method="post">
          <div class="row">
            ${h.form.field('email', 'E-Mail Address', h.form.tags.email_field, size='small-12', e=e, default='')}
          </div>
          <div class="row text-right">
            <div class="small-12 column">
              ${h.form.tags.submit('Request Password', class_='button small')}
            </div>
          </div>
        </form>
      </article>
    </div>
  </body>
</html>