<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Users</title>
  </head>
  <body>
    <article class="row">
      <h1>Users</h1>
      <form action="${r.route_url('users')}" class="row collapse">
        <div class="small-12 medium-6 column">
          <div class="row collapse">
            <div class="small-9 medium-8 column">
              ${h.form.tags.text_field('q', r.params['q'] if 'q' in r.params else '', None, placeholder='Search by name or e-mail')}
            </div>
            <div class="small-3 medium-4 column">
              <input type="submit" value="Search" class="button postfix"/>
            </div>
          </div>
        </div>
        <div class="small-12 medium-5 medium-offset-1 column">
          <div class="row collapse">
            <div class="small-9 medium-8 column">
              ${h.form.tags.select('status', r.params['status'] if 'status' in r.params else '', [('', 'All Users'), ('confirmed', 'Confirmed Users'), ('new', 'New Users')], None)}
            </div>
            <div class="small-3 medium-4 column">
              <input type="submit" value="Filter" class="button postfix"/>
            </div>
          </div>
        </div>
      </form>
      <form action="${r.route_url('users.action')}" method="post">
        <table class="small-12">
          <thead>
            <tr>
              <th><input id="change_all" type="checkbox"/></th>
              <th>Name</th>
              <th>E-Mail</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr py:if="users.count() == 0">
              <td colspan="5">No users were found for the filter you selected.</td>
            </tr>
            <tr py:for="user in users">
              <td><input id="user_id_${user.id}" name="user_id" type="checkbox" value="${user.id}"/></td>
              <td><a href="${r.route_url('user.view', uid=user.id)}" py:if="user.allow('view', r.current_user)">${user.display_name}</a><span py:if="not user.allow('view', r.current_user)">${user.display_name}</span></td>
              <td>${user.email}</td>
              <td>${'Confirmed' if not user.validation_token else 'New'}</td>
              <td>${h.frontend.menubar([
                {'group': 'edit', 'items': [
                 {'visible': user.validation_token is None and user.allow('edit', r.current_user),
                  'icon': 'fi-pencil',
                  'label': 'Edit',
                  'href': r.route_url('user.edit', uid=user.id),
                  'highlight': True}]},
                {'group': 'access', 'items': [
                 {'visible': user.validation_token is None and user.allow('edit', r.current_user),
                  'icon': 'fi-key',
                  'label': 'Edit Permissions',
                  'href': r.route_url('user.permissions', uid=user.id),
                  'highlight': True},
                 {'visible': user.validation_token is not None and user.allow('edit', r.current_user),
                  'icon': 'fi-check',
                  'label': 'Validate',
                  'href': r.route_url('user.confirm', uid=user.id, token=user.validation_token),
                  'highlight': True},
                 {'visible': user.validation_token is None and user.allow('edit', r.current_user),
                  'label': 'Generate Password',
                  'href': r.route_url('user.forgotten_password', _query=[('email', user.email)]),
                  'class': 'post-link'}]},
                {'group': 'delete', 'items': [
                 {'visible': user.allow('delete', r.current_user),
                  'icon': 'fi-trash',
                  'label': 'Delete',
                  'href': r.route_url('user.delete', uid=user.id),
                  'class': 'alert post-link',
                  'confirm': h.frontend.confirm_delete('user', '%s (%s)' % (user.display_name, user.email), False),
                  'highlight': user.validation_token is not None}]}
                ], drop_down_menu_left=False)}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <ul class="pagination">
                  <li py:for="page in pages" class="${page['class'] if 'class' in page and page['class'] else ''}"><a href="${page['url']}">${page['title']}</a></li>
                </ul>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="row collapse">
          <py:if test="'q' in r.params">${h.form.tags.hidden_field('q', r.params['q'])}</py:if>
          <py:if test="'status' in r.params">${h.form.tags.hidden_field('status', r.params['status'])}</py:if>
          <py:if test="'start' in r.params">${h.form.tags.hidden_field('start', r.params['start'])}</py:if>
          <div class="small-8 medium-6 large-4 column">
            ${h.form.field('action', '', h.form.tags.select, size='small-12', e=e, value='', options=[('', '--- Choose Action ---'), ('validate', 'Validate selected users'), ('password', 'Generate new passwords'), ('delete', 'Delete selected users')])}
          </div>
          <div class="small-4 medium-2 column end">
            <input type="submit" value="Apply" class="button postfix"/>
          </div>
        </div>
      </form>
    </article>
    <script>
    $('#change_all').on('click', function() {
        var checked = $(this).is(':checked');
        $('input[name=user_id]').each(function() {
            $(this).prop('checked', checked);
        });
    });
    $('.menu').dropdownMenu();
    </script>
  </body>
</html>