<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Log out</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 medium-8 large-6 column end">
        <h1>Log out</h1>
        <form action="${r.route_url('user.logout')}" method="post">
          <p>That's enough for now.</p>
          <div class="row text-right">
            <div class="small-12 column">
              <a href="${r.route_url('root')}" class="button small secondary">Stay</a>
              ${h.form.tags.submit('Logout', class_='button small')}
            </div>
          </div>
        </form>
      </article>
    </div>
  </body>
</html>