<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Register with the Web Teaching Environment</title>
  </head>
  <body>
    <div class="row">
      <article class="small-12 medium-8 large-6 column end">
        <h1>Register</h1>
        <form action="${r.route_url('user.register')}" method="post">
          <py:if test="'return_to' in r.params">${h.form.hidden_field('return_to', r.params['return_to'])}</py:if>
          <div class="row">
            ${h.form.field('email', 'E-Mail Address', h.form.tags.email_field, 'small-12', e=e, default='', placeholder='Your e-mail address will be your username')}
          </div>
          <div class="row">
            ${h.form.field('email_confirm', 'Confirm E-Mail Address', h.form.tags.email_field, 'small-12', e=e, default='', placeholder='Please confirm your e-mail address')}
          </div>
          <div class="row">
            ${h.form.field('name', 'Name', h.form.tags.text_field, 'small-12', e=e, default='', placeholder='Please enter your full name')}
          </div>
          <div class="row text-right">
            <div class="small-12 column">
              <a href="${r.route_url('root')}" class="button small secondary">Don't Register</a>
              ${h.form.tags.submit('Register', class_='button small')}
            </div>
          </div>
        </form>
      </article>
    </div>
  </body>
</html>