<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${user.display_name}</title>
  </head>
  <body>
    <article class="small-12 column">
      <h1>${user.display_name}</h1>
      <p>${user.email}</p>
      <p>
        <a py:if="user.allow('delete', r.current_user)" href="${r.route_url('user.delete', uid=user.id)}" class="button small alert">
          <py:if test="r.current_user.id == user.id">Delete your account</py:if>
          <py:if test="r.current_user.id != user.id">Delete this user</py:if>
        </a>
        <a py:if="r.current_user.has_permission('admin.users.permissions')" href="${r.route_url('user.permissions', uid=user.id)}" class="button small secondary">Edit Permissions</a>
        <a py:if="user.allow('edit', r.current_user)" href="${r.route_url('user.edit', uid=user.id)}" class="button small">
          <py:if test="r.current_user.id == user.id">Edit your profile</py:if>
          <py:if test="r.current_user.id != user.id">Edit this profile</py:if>
        </a>
      </p>
    </article>
  </body>
</html>