h1 .headerlink,
h2 .headerlink,
h3 .headerlink,
h4 .headerlink,
h5 .headerlink,
h6 .headerlink {
    display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
}
.rest-render-sample {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #666666;
}
div.highlight {
    border: 1px solid #dddddd;
    background: #efefef;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
}
