/**
 * Editor styles
 */

#editor {
    overflow: hidden;
}
#files {
    overflow: hidden;
    position: relative;
    
    .tabs {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        
        a {
            transition: color 0.2s, background 0.2s;
            &.modified {
                color: $white;
                background: #ff8888;
            }
            &.saving, &.saved {
                color: $white;
                background: #88cc88;
            }
        }
    }
    
    .tabs-panel {
        padding: 0;
        
        .editor-wrapper {
            overflow: hidden;
        }

        .textarea, .CodeMirror {
            height: 100%;
        }
        .menubar {
            background: $light-gray;
            padding-left: 0.5rem;
    
            & > .menu > li > a {
                font-size: 1.3rem;
                margin-right: 0.3rem;
            }
        }
    }
    .menu {
        z-index: 100;
    }
}
