/**
 * Editor styles
 */

#editor {
    overflow: hidden;
}
#files {
    border-bottom: 1px solid #333;
    overflow: hidden;
    position: relative;
}
#files .tabs {
    border-bottom: 1px solid #dfdfdf;
    padding: 0.5em 2em 0 2em;
}
#files .tabs dd {
    margin-right: 0.5em;
    margin-bottom: -1px !important;
}
#files .tabs dd.active > a, #files .tabs dd.active .menubar > li > a, #files .tabs dd.active .menubar > li > .menu > a {
    color: $dark-gray;
}
#files .tabs dd > a {
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;
    border-bottom-color: #dfdfdf;
    background-color: #fff;
    padding: 0.5rem 3.5em 0.5rem 0.8rem;
}
#files .tabs dd.active.modified > a, #files .tabs dd.modified > a {
    color: #aa0000;
}
#files .tabs dd.active.saving img, #files .tabs dd.saving img {
    display: inline;
}
#files .tabs dd.active.saved > a, #files .tabs dd.saved > a {
    color: #00aa00;
}
#files .tabs dd > a, #files .tabs dd .menubar > li > a, #files .tabs dd .menubar > li > .menu > a {
    color: $dark-gray;
}
#files .tabs dd > a:hover {
    background-color: #eee;
}
#files .tabs dd.active {
}
#files .tabs dd.active > a {
    border-top-color: #dfdfdf;
    border-right-color: #dfdfdf;
    border-bottom-color: transparent;
    border-left-color: #dfdfdf;
}
#files .tabs dd.active > a:hover {
    background-color: #fff;
}
#files .tabs-content .content {
    padding: 0.2em 0.5em;
}
#files .tabs-content .content textarea {
    height: 100%;
}
#files .tabs-content .content .CodeMirror {
    height: 100%;
}
