.js {
    #flash {
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 1000;
        
        .column, .columns {
            width: 30rem;
            transition: width 1s;
            
            &.minimise {
                width: 6rem;
                
                &:hover {
                    width: 35rem;

                    .alert-box {
                    }
                    .close {
                        display: inline;
                    }
                }
                
                .alert-box {
                }
                .close {
                    display: none;
                }
            }
            
            .alert-box {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}