/**
 * Pagination styles
 */
tfoot .pagination li {
    font-weight: normal;
}

.fixed-pagination {
    position: relative;
    background: $white;
    z-index: 10;
}

.part-pagination {
    select {
        margin-bottom: rem-calc(1);
    }
    
    .progress {
        height: rem-calc(3);
    }
}