.quiz {
    border: 1px solid #dddddd;
    margin-bottom: $global-margin;
    
    .label {
        margin-left: $global-padding;
        font-weight: bold;
        
        &.correct {
            background: #3adb76;
        }
        &.partial {
            background: #ffae00;
        }
        &.incorrect {
            background: #ec5840;
        }
    }
    
    > .title {
        background: #dddddd;
        padding: $global-padding;
        margin-bottom: $global-margin;
        font-size: 1.25rem;
    }
    
    .question {
        margin: $global-margin;
        
        > .title {
            font-weight: bold;
            margin-bottom: $global-margin;
        }
    }
    
    .text-right {
        margin-right: $global-margin;
    }
}
.quiz-stats {
    .label {
        margin-left: $global-padding;
        font-weight: bold;
        
        &.correct {
            background: #3adb76;
        }
        &.partial {
            background: #ffae00;
        }
        &.incorrect {
            background: #ec5840;
        }
    }
    
    .overview-bar {
        @include progress-container;
        
        .stat {
            @include progress-meter;
            float: left;
            
            &.correct {
                background: #3adb76;
            }
            &.partial {
                background: #ffae00;
            }
            &.incorrect {
                background: #ec5840;
            }
        }
    }
}