/* Colour settings for the source code boxes' title */
$source-html-title-color: #fff;
$source-html-title-background-color: #070;
$source-css-title-color: #fff;
$source-css-title-background-color: #700;
$source-javascript-title-color: #fff;
$source-javascript-title-background-color: #007;
$source-php-title-color: #fff;
$source-php-title-background-color: #077;
$source-python-title-color: #fff;
$source-python-title-background-color: #770;
$source-bash-session-title-color: #fff;
$source-bash-session-title-background-color: #222;

/* Foundation settings */
$topbar-padding: 0 0.5rem;
$topbar-background: lighten($black, 20%);
