<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>${module.title} - Edit</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 medium-10 large-8 column">
        <h1>${module.title} - Edit</h1>
        <form action="${r.route_url('module.edit', mid=module.id)}" method="post">
          <div class="clearfix">
            ${h.form.field('title', 'Title', h.form.tags.text_field, size='small-12', e=e, default=module.title)}
          </div>
          <div class="clearfix">
            ${h.form.field('status', 'Status', h.form.tags.select, size='small-12', e=e, value=module.status, options=[('unavailable', 'Unavailable'), ('available', 'Available')])}
          </div>
          <div class="clearfix" py:if="module.parts">
            <div class="small-12 column">
              <label>Tutorial order</label>
              <ul id="tutorials" class="no-symbol">
                <li py:for="part in module.parts" class="panel">${h.form.tags.hidden_field('part_id', part.id)}${part.title}</li>
              </ul>
            </div>
          </div>
          <div class="text-right">
            ${h.form.tags.submit('Update', class_='button small')}
          </div>
        </form>
      </article>
    </div>
    <script>$('#tutorials').sortable();</script>
  </body>
</html>