<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Available modules</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 column">
        <h1>Available modules</h1>
        <ul class="no-symbol">
          <li py:if="not modules" class="panel callout">There are currently no modules available.</li>
          <li py:for="module in modules" class="panel">
            <span py:if="h.auth.is_authorised(r.current_user, 'edit', module) or h.auth.is_authorised(r.current_user, 'delete', module)" class="right">
              <a py:if="h.auth.is_authorised(r.current_user, 'edit', module)" href="${r.route_url('module.edit', mid=module.id)}" class="button small">Edit</a>
              <a py:if="h.auth.is_authorised(r.current_user, 'delete', module)" href="${r.route_url('module.delete', mid=module.id)}" class="button small alert">Delete</a>
            </span>
            <h2 py:if="module.allow('view', r.current_user)"><a href="${r.route_url('module.view', mid=module.id)}">${module.title}</a></h2>
            <h2 py:if="not module.allow('view', r.current_user)"><a href="${r.route_url('module.register', mid=module.id)}">${module.title}</a></h2>
          </li>
        </ul>
        <div>
          <a py:if="r.current_user.has_permission('modules.create')" href="${r.route_url('module.new')}" class="button small">New Module</a>
        </div>
      </article>
    </div>
  </body>
</html>