<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout/layout.html"/>
  <head>
    <title>Modules</title>
  </head>
  <body>
    <div class="row left">
      <article class="small-12 column">
        <h1>Modules</h1>
        <ul class="no-symbol">
          <li py:for="module_asc in user.modules" class="panel">
            <span py:if="h.auth.is_authorised(r.current_user, 'edit', module_asc.module) or h.auth.is_authorised(r.current_user, 'delete', module_asc.module)" class="right">
              <a py:if="h.auth.is_authorised(r.current_user, 'edit', module_asc.module)" href="${r.route_url('module.edit', mid=module_asc.module.id)}" class="button small">Edit</a>
              <a py:if="h.auth.is_authorised(r.current_user, 'delete', module_asc.module)" href="${r.route_url('module.delete', mid=module_asc.module.id)}" class="button small alert">Delete</a>
            </span>
            <h2><a href="${r.route_url('module.view', mid=module_asc.module.id)}">${module_asc.module.title}</a></h2>
          </li>
        </ul>
        <div>
          <a py:if="r.current_user.has_permission('modules.create')" href="${r.route_url('module.new')}" class="button small">New Module</a>
        </div>
      </article>
    </div>
  </body>
</html>